a{
      color: white;
      font-size: 18px;
    }


nav {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 75px; 
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
}
body {
      background-color: lightgray;
      color: white;
    }

a{
      color: white;
      font-size: 18px;
    }

        img:hover {
      box-shadow: 20px 20px 20px black;
    }
.mydiv2{
	width: 1490px;
      height:290px;
      padding: 5px;
      background-color: white;
      color: black;
	}

.container {
  display: flex;
}


@media screen and (max-width: 992px) {
  .container {
    flex-direction: column;
  }
}


@media screen and (max-width: 600px) {
  nav {
    font-size: 14px;
  }
}
.mydiv3{
	gap:200px;
}
.mydiv nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.mydiv3 {
  text-decoration: none;
}

.mydiv nav a h3 {
  margin: 0;
  padding: 12px 20px;
  color: white;
  border: 2px solid gold;
  border-radius: 10px;
  background-color:black;
  transition: all 0.3s ease;
}

.mydiv nav a h3:hover {
  background-color: gold;
  color: #003a8f;
  box-shadow: 0 0 15px black;
  transform: scale(1.1);
}
img[alt="ICC"]:hover {
  box-shadow: none !important;
}